<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Konothec S.A</title>
	 {{!-- css bostrap --}}
	<link rel="stylesheet" type="text/css" href="/stylesheets/particulas.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet"  href="/recursos_disenio_cb/css/bootstrap-social.css">
	<link href="/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
	{{!-- <link rel="stylesheet" href="/stylesheets/Footer-with-button-logo.css"> --}}
     {{!-- fin css bostrap --}}
    <link rel="stylesheet"  href="/recursos_disenio_cb/css/owl.theme.default.min.css">
    <link rel="stylesheet"  href="/recursos_disenio_cb/css/owl.carousel.css">
    {{!-- librería de iconos --}}
	<link href="/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/recursos_disenio_cb/assets/assets/css/iconos.css">
    <link rel="stylesheet" href="/recursos_disenio_cb/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/recursos_disenio_cb/assets/css/main.css" />
   {{!-- js inicio--}}
	<script type="text/javascript" src="/javascript/javascript_tabla.js"></script>
	<script type="text/javascript" src="/javascript/sweetalert.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/recursos_disenio_cb/assets/js/jquery.min.js"></script>
    <script src="/recursos_disenio_cb/assets/js/jquery.scrolly.min.js"></script>
    <script src="/recursos_disenio_cb/assets/js/browser.min.js"></script>
    <script src="/recursos_disenio_cb/assets/js/breakpoints.min.js"></script>
    <script src="/recursos_disenio_cb/assets/js/util.js"></script>
    <script src="/recursos_disenio_cb/assets/js/main.js"></script>
    {{!-- Material desing --}}
    <link rel="stylesheet" href="/materialdesing/css/mdb.min.css">
    {{!-- Material desing --}}
    {{!<script type="text/javascript" src="/javascript/jquery.min.js"></script>}}
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    {{!-- js inicio
    
    --}}
<!-- MAIN CSS -->      
</head>
<body>
    {{!-- barra navegacion oscura --}}
	{{!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> --}}
    {{!-- barra navegación clara --}}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Konothec S.A</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href="/">Inicio
						<span class="sr-only">(current)</span>
					</a>
				</li>
			
                		<li class="nav-item ">
					<a class="nav-link" href="/api/moodle">Moodle
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/api/wordpress">Wordpress</a>
				</li>
                	<li class="nav-item">
					<a class="nav-link" href="/api/roucube">Sevicio de correo</a>
				</li>
                	<li class="nav-item">
					<a class="nav-link" href="/api/contacto">Contacto</a>
				</li>
                {{!-- <li class="nav-item">
					<a class="nav-link disabled" href="/juego">Juego</a>
				</li> --}}
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa fa-whatsapp" style="color: rgb(25, 202, 63);"></i> +593-987196321</a>
				</li>
			</ul>
		</div>
	</nav><br>
    {{!-- barra navegación clara fin --}}
	{{{ body }}}
    {{!-- footer inicio--}}
    <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: rgba(59, 111, 255, 0.685);">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 colorblanco">Siguenos y conoce mas en las redes sociales!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i  class="fa fa-facebook white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Konothec S.A</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Empresa de desarrollo de software, soluciones informáticas y alojamiento web.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Productos</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Moodle</a>
          </p>
          <p>
            <a href="#!">Wordpress</a>
          </p>
          <p>
            <a href="#!">Correos empresariales</a>
          </p>
          <p>
            <a href="#!">Desarrollo a la medida</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Manta, Ecuador.</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> konothecsa@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> +593 992093528</p>
          <p>
            <i class="fa fa-phone mr-3"></i> +593 987196321</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> konothec.com</a>
    </div>
    <!-- Copyright -->

  </footer>
{{!-- footer fin--}}
</body>
</html>