<div>
    <article id="work" class="wrapper style2">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <section class="box style1">
                <div class="container" align="left">
                    
                    <h1>Acerca de Konothec</h1>
                    <p ALIGN="justify">
                        Konothec es una empresa situada en Manta con una trayectoria de más de 2 años que
                        ofrece distintos servicios como aula virtual, alojamiento de WordPress y servicio de
                        correo. Con una sólida plataforma de VPS sus siglas significan “servidor virtual privado”.
                        El hosting VPS es uno de los servicios de alojamiento más populares que puedes elegir
                        para tu sitio web. Utiliza tecnología de virtualización para proporcionarte recursos
                        dedicados, es una solución más segura y estable que el hosting compartido donde no se
                        obtiene espacio de servidor dedicado.
                    </p>
                </div>
                <div class="container" align="left">
                    <header>
                        <hr>
                        <h3>Misión</h3>
                        <p ALIGN="justify"> 
                            Ofrecer servicios económicos que solucionen las necesidades de nuestros clientes.
                        </p>
                        <hr>
                        <h3>Visión</h3>
                        <p ALIGN="justify">
                            Ser una empresa reconocida a nivel nacional para lograr llegar a personas ofreciendo
                            servicios de calidad.
                        </p>
                    </header>
                </div> 
            </section>
        </div>
   </article>
</div>