{{!-- Arreglar particulas --}}
<div class="particulas">
<div class="row no-gutters vacio">
  <div class="col-sm"></div>
  <div id="particles-js">
    <div class="texto-particle">
      <br>
      <br>
      <h1 class="p-4">Konothec S.A</h1>
      <p>Empresa dedicada al desarrollo e innovación</p>
    </div>
  </div>
</div>
<div>
<article id="work" class="wrapper style2">
 <div class="container">
   <header>
     <h1>Acerca de Konothec</h1>
     <p>  </p>
   </header>
   </article>
   </div>
   </div>
<div>
<article id="work" class="wrapper style2">
 <div class="container">
   <header>
     <h1>QUE OFRECEMOS</h1>
     <p>Agrega valor a tu empresa con las soluciones que ofrecemos</p>
   </header>
   <div class="row aln-center">
     <div class="col-lg-4 col-md-6 col-sm-12">
       <section class="box style1">
         <span class="icon featured fa-graduation-cap" aria-hidden="true"></span>
         <h3>Aula virtual</h3>
         
         <button class="btn btn-primary" onclick="location.href='/api/moodle'">Moodle</button>
       </section>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
       <section class="box style1">
         <span class="icon featured fa-wordpress"></span>
         <h3>Pagina</h3>
         
         <button class="btn btn-primary" onclick="location.href='/api/wordpress'">Wordpress</button>
       </section>
     </div>
     <div class="col-lg-4 col-6-medium col-sm-12">
       <section class="box style1">
         <span class="icon featured fa-envelope"></span>
         <h3>Correo</h3>
         <button class="btn btn-primary" onclick="location.href='/api/roucube'">Roucube</button>
         
       </section>
     </div>
   </div>
   </div>
   <footer class="lol">
     <p>Creamos paginas Webs a medida</p>
     <a href="#portfolio" class="button large scrolly">Ver portafolio</a>
   </footer>
   </article>
   {{!-- Separador invisible efecto imagen de fondo --}}
    {{!-- <div class="row no-gutters vacio2">
      <div class="col-sm"></div>
      <div id="particles-js"></div>
      </div> --}}
    {{!-- Separador invisible efecto imagen de fondo --}}

<article id="work" class="wrapper style2">
  <div class="container">
     <h3 class="frase">“El éxito no es definitivo, el fracaso no es fatal: lo que cuenta es el coraje para continuar”.</h3>
     <p class="autor"> Winston S. Churchill</p>
  </div>

</div>
  

<script type="text/javascript" src="/javascript/particles.js"></script>
<script type="text/javascript" src="/javascript/app.js"></script>
<!-- Modal -->
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> --}}
{{!-- fin del modal --}}
<!-- 
	<br>
	<br>
	<br>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ERpNI7lkvA4" width="1020" height="640" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item"	src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2637994747347!2d-80.72171808525377!3d-0.9552675993031443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be6b37c59137b%3A0x18eb4843f93ef8b3!2sCalle+9+de+Octubre%2C+Manta!5e0!3m2!1ses!2sec!4v1502765916089" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<!-- </div> -->