<div class="container p-5">
  <div class="row">
    <div class="col-md-1"></div>
    <br>
      <div class="col-md-6">
      
          
          <br>
          <strong>
        
            &nbsp; <h2>contactenos</h2>
          </strong>
          <div class="co">
									
									<div class="info-detail">
										<ul><li><i class="fa fa-calendar"></i><span>Lunes - Viernes:</span> 9:30 AM to 6:30 PM</li></ul>
										<ul><li><i class="fa fa-map-marker"></i><span>Lugar:</span> Ecuador , Manabi, Manta</li></ul>
										<ul><li><i class="fa fa-phone"></i><span>Celular:</span> 0987196321</li></ul>

										<ul><li><i class="fa fa-envelope"></i><span>Email:</span> konothec@gmail.com</li></ul>
									</div>
								</div>
      </div>
      <h3 style="text-align: center;"></h3>
      <div class="col-md-4">
        <br>
         <form action="">
	
        <h3 style="text-align: center;">Formulario de contacto:</h3>
		
      
          <br>
          <input type="text" class="form-control" id="nombre" onkeypress="return validarLetra(event)" placeholder="Nombres">
          <br>
          <input type="email" id="email" class="form-control"placeholder="Correo">
          <br>
          <input type="text" id="comentario" class="form-control"placeholder="Mensaje">
          <br>
          <input type="text" id="telefono" class="form-control" onkeypress="return validarNumero(event)"placeholder="Telefono"><br>
          <input type="button" value="Enviar" class="btn btn-primary" id="enviar">
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
       
      </div>
      
      </div>  
      
    </div>

    	