/* Espacio de las particulas */
.vacio{
    width: 100%;
    height: 600px;
}

.vacio2{
    width: 100%;
    height: 250px;
}
/* espacio abajo del efecto particulas */
.fondo-white{
    background: #F5F5F5;
    width: 100%;
    /* para hacer que se adapte al contenido poner auto en height */
    height: auto;
    /* Tamaño predeterminado */
    /* height: 500px; */

}
.fondo-white2{
    background: #F5F5F5;
    width: 100%;
    height: auto;
}
/* Imagen que va en el div particulas */
.particulas{
    background: url(../imagenes/banner2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#particles-js{
    width: 100%;
    height: 800px;
    /* background: url(../imagenes/carrucel2.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover; */
    /* padding: 0; */
}

.texto-particle{
    color: aliceblue;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    line-height: 0.4em;
}
.h1{
    font-size: 50px;
}
/* ajute para movil */
@media screen and (max-width: 900px) {
    .texto-particle{
        top: 5%;
    }
    .vacio{
        width: 100%;
        height: 200px;
    }
    }
@media screen and (max-width: 900px) {
.ocultar{
display:none;
}
}